section {
    /* background: #000; */
    color: #fff;
    padding: 2em;
    font-family: "Lato", Baskerville, Georgia;
  }
  #follow {
    background: none;
  }
  .grey {
    color: #ccc;
    font-size:2vmin;

  }
  .orange {
    color: orange;
  }
  .date {
    font-size: 50%;
  }
  a:link,
  a:visited {
    color: orange;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  .largeText {
    font-size:7vmin;
    line-height:1;
  }

  
  .mediumText {
    font-size:4vmin;
    line-height:1.25;
    font-weight: 700;
  }

  .mediumTextLight {
    font-size:4vmin;
    line-height:1.25;
    /* font-weight: 700; */
  }
  
  .smallText {
    font-family: "Open Sans";
    font-size:2.6vmin;
    line-height:1.25;
    font-weight: 300;
  }
  

  .test {
    background: #000;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
}

.exceptionLayer {
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index:-1;
  max-width: 30%;
  text-align: right;
}
  

.exceptionInfo {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding:0.5rem;
  background-color: rgba(0,0,0,0.5);
  z-index:-1;
  max-width: 30%;
  text-align: left;
}

.loadingScreen {
  position: fixed;
  /* padding-top: 5rem; */
  display: table-cell;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  font-family: Lato;
  font-weight: 700;
  z-index: 100;
}